@use '_variables.scss';
@use '_mixin.scss';



html {
  box-sizing: border-box;

}

body {
  font-family: 'Play', sans-serif;
  background: variables.$bgBody;
  background-repeat: no-repeat;
  min-height: 100vh;

}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}


/*HEADER*/
.header {
  padding-bottom: 32px;

  &__wrap {
    padding: 24px 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
    position: relative;

    &:focus-visible {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      outline: 1px solid #DC5DFC;
      outline-offset: 5px;
      opacity: 0;
      -webkit-transition: opacity .3s linear;
      -o-transition: opacity .3s linear;
      transition: opacity .3s linear;
    }

    &:focus-visible::after {
      opacity: 1;
    }
  }

  &__logo>svg {
    width: 144px;
    height: 32px;
  }

  &__nav {
    margin-right: 80px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
  }

  &__serach {
    width: 657px;
    height: 48px;
    border-radius: 8px;
    padding: 18px 16px 16px 52px;
    background-color: variables.$bgSecondary;
    border: none;
    background-image: url('/src/assets/images/svg-sprite/search.svg');
    background-size: 24px 24px;
    background-position: left 17px center;
    background-repeat: no-repeat;
  }

  &__serach:focus-visible {
    outline: none;
    color: #fff;
    font-size: 18px;
    line-height: 133%;
  }

  &__serach::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
  }

  &__link {
    @include mixin.link();

    &::before {
      @include mixin.before-focus();
    }

    &:focus-visible {
      outline: none;
      outline-offset: 5px;
    }

    &:focus-visible::before {
      opacity: 1;
    }

    &::after {
      @include mixin.link-after();
    }


    &:hover {
      color: #b4a9ff;
    }

    &:hover::after {
      transform: scale(1);
    }

    &.router-link-active::after {
      transform: scale(1);
    }

    &:focus-visible:hover:after {
      transform: scale(0);
    }

    &.router-link-active:focus-visible::after {
      transform: scale(0);
    }
  }

  &__link--account {
    color: #fff;
    font-size: 24px;
    line-height: 133%;
    font-weight: 400;
    position: relative;

    &:focus-visible {
      outline: none;
      outline-offset: 5px;
    }

    &:focus-visible::before {
      opacity: 1;
    }

    &::after {
      @include mixin.link-after();
    }

    &::before {
      @include mixin.before-focus();
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 9999;
      top: 35px;
      left: 0;
      bottom: 0;
      right: 0;
      height: 2px;
      background: #DC5DFC;
      transform: scale(0);
      transition: transform .3s linear, color .3s linear;
    }

    &:hover::after {
      transform: scale(1);
    }

    &:focus-visible:hover:after {
      transform: scale(0);
    }

    &.router-link-active:focus-visible::after {
      transform: scale(0);
    }
  }

}

/* РЕЙТИНГ */

.rating {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 18px;

  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.7);
  }


}

/* СТРАНИЦА ФИЛЬМА */

.film {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding-top: 74px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #fff;
  }

  &__desc {
    margin: 0;
    font-weight: 400;
    max-width: 550px;
    font-size: 24px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.7);
  }

  &__preview-img {
    border-radius: 18px;
    max-width: 680px;
  }

  &__navigation {
    margin: 0;
    padding: 0;
    padding-top: 38px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
}

.film-detail {
  &__title {
    margin: 0;
    padding-top: 37px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #fff;

    &--desc {
      font-size: 1.7em;
      padding-top: 25px;
    }
  }

  &__wrap {
    width: 100%;
    max-width: 544px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
  }

  &__item {
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }

  &__name {
    padding-right: 4px;
    white-space: nowrap;
  }

  &__separaror {
    display: block;
    width: 100%;
    border-bottom: 1px dashed #ffffff;
    flex-shrink: 9;
  }

  &__desq {
    white-space: nowrap;
    width: 100%;
    max-width: 220px;
    padding-left: 4px;
  }
}

/* BTNS */
.btn__accent {
  border-radius: 28px;
  padding: 16px 48px;
  background: #67a5eb;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  transition: background-color .3s;
  border: none;

  &:hover {
    background-color: #45526E;
    cursor: pointer;
  }

  &:focus-visible {
    background-color: #45526E;
    outline: none;
  }
}

.btn__default {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 28px;
  padding: 16px 48px;
  background: #393b3c;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  transition: background-color .3s;
  border: none;

  &:hover {
    background-color: #45526e;
    cursor: pointer;
  }

  &:focus-visible {
    background-color: #45526E;
    outline: none;
  }
}

.btn__circle {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 28px;
  width: 68px;
  height: 56px;
  display: inline-block;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  transition: background-color .3s;
  border: none;

  &:hover {
    background-color: #45526e;
  }

  &:focus-visible {
    background-color: #45526E;
    outline: none;
  }
}

.btn__circle>svg {
  width: 24px;
  height: 24px;
}

/* TOP-10 */

.top-10 {
  padding-top: 35px;
  padding-bottom: 120px;

  &__title {
    margin: 0;
    padding-bottom: 65px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 63px 40px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    max-width: 224px;
    max-height: 336px;
    display: flex;
    min-width: 224px;

    &--no-image {
      background-color: gray;
      border-radius: 16px;
      position: relative;

      .top10-desc {
        position: absolute;
        height: 100px;
        width: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        color: white;
        font-size: 700;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__link {
    &::after {
      @include mixin.focus-after();
      outline-offset: 15px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible::after {
      opacity: 1;
      border-radius: 16px;
    }
  }

  &__img {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
  }
}

/* GENRES */

.genres {
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #fff;
  }

  .genre {
    height: inherit;
  }

  &__link {
    position: relative;
    display: inline-block;
    height: inherit;

    &::after {
      @include mixin.focus-after();
      border-radius: 24px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible::after {
      opacity: 1;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 160px;
    list-style: none;
    display: flex;
    gap: 64px 40px;
    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    width: 290px;
    height: 304px;
    box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
    background: #0a0b0b;
  }
}

/* PAGE GENRE */

.genre {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #fff;
  }

  &__link-item {
    height: inherit;
    display: inline-block;
    position: relative;

    &>img {
      border-radius: 16px;
    }

    &::after {
      @include mixin.focus-after();
      border-radius: 16px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible::after {
      opacity: 1;
    }
  }

  &__link {
    padding: 34px 12px;
    display: flex;
    gap: 0 30px;
    align-items: center;
    position: relative;
    display: inline-flex;

    &::after {
      @include mixin.focus-after();
      border-radius: 16px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible::after {
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__img {
    border-radius: 24px 24px 0 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-top: 28px;
    list-style: none;
    display: flex;
    gap: 59px 40px;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 224px;
    max-height: 336px;
  }

  &__back {
    width: 14px;
    height: 22px;
  }

  &__btnMore {
    display: flex;
    justify-content: center;
    padding-top: 64px;
  }
}

/* MODAL */

.modal,
.modal-trailer {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(129, 129, 129, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
  overflow: auto;

  .modal__close {
    position: absolute;
    top: 0;
    right: 0;

    &--trailer {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
  }

  &__main {
    position: relative;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    gap: 0 24px;
  }

  &__close {
    width: 48px;
    height: 48px;
  }

  &__content {
    border-radius: 24px;
    padding: 64px 40px;
    width: 420px;
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  &__main-trailer {
    position: relative;
    transform: scale(0);
    transition: transform .5s;
  }

  &__content-trailer {
    padding: 0px 72px;
    width: 1104px;
    height: 540px;
    background-color: black;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    margin-bottom: 24px;
  }

  .btn__accent {
    text-align: center;
  }

  &__registration {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000;
    text-align: center;

  }

  &__registration--title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
  }

  &__registration--name {
    display: inline-block;
    padding-top: 24px;
    cursor: pointer;
  }

  &__input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 16px 16px 16px 52px;
    width: 340px;
    height: 56px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left 16px center;
    transition: border .3s opacity .3s;

    &:hover {
      border: 1px solid #9747FF;
      opacity: 0.5;
    }

    &--error:hover {
      border: 1px solid #ff7575;
      ;
      opacity: 1;
    }

    &:focus-visible {
      border: 1px solid #9747FF;
      opacity: 1;
    }

    &--error:focus-visible {
      border: 1px solid #ff7575;
      opacity: 1;
    }
  }

  &__input--error {
    border: 1px solid #ff7575;
  }

  &__input:last-child {
    margin-bottom: 12px;
  }

  &__input--email {
    background-image: url('/src/assets/images/svg-sprite/form_email.svg');

    &:hover {
      background-image: url('/src/assets/images/svg-sprite/form_email_hover.svg');
    }
  }

  &__email--error {
    background-image: url('/src/assets/images/svg-sprite/form_email_error.svg');
  }

  &__input--pass {
    background-image: url('/src/assets/images/svg-sprite/form_pass.svg');

    &:hover {
      background-image: url('/src/assets/images/svg-sprite/form_pass_hover.svg');
    }
  }

  &__pass--error {
    background-image: url('/src/assets/images/svg-sprite/form_pass_error.svg');
  }

  &__input--user {
    background-image: url('/src/assets/images/svg-sprite/form_user.svg');

    &:hover {
      background-image: url('/src/assets/images/svg-sprite/form_user_hover.svg');
    }
  }

  &__user--error {
    background-image: url('/src/assets/images/svg-sprite/form_user_error.svg');
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.4);
  }

  &__input:focus-visible {
    outline: none;
  }

  &--vis {
    visibility: visible;
    opacity: 1;
  }

  &--vis .modal__main {
    transform: scale(1);
  }

  &--vis .modal__main-trailer {
    transform: scale(1);
  }

  &__logo {
    align-self: center;
    margin-bottom: 40px;
    width: 132px;
    height: 29px;
    flex-shrink: 0;
  }

  &__close {
    cursor: pointer;
  }

  &__ok {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #000;
    display: inline-block;
    margin-bottom: 24px;
  }

}

/* ACCOUNT */

.account {
  &__title {
    margin-bottom: 73px;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #fff;
  }

  &__list {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 65px;
  }

  &__link {
    @include mixin.link();
    display: flex;

    &::before {
      @include mixin.before-focus();
    }

    &:focus-visible {
      outline: none;
      outline-offset: 5px;
    }

    &:focus-visible::before {
      opacity: 1;
    }

    &::after {
      @include mixin.link-after();
    }

    &:hover {
      color: #b4a9ff;
    }

    &:hover::after {
      transform: scale(1);
    }

    &.router-link-active::after {
      transform: scale(1);
    }

    &:focus-visible:hover:after {
      transform: scale(0);
    }

    &.router-link-active:focus-visible::after {
      transform: scale(0);
    }

    &>svg {
      align-self: center;
      margin-right: 8px;
    }
  }

  &-settings {
    margin: 0;
    margin-bottom: 63px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px 0;
    flex-direction: column;

    &__item {
      display: flex;
      gap: 0 16px;
    }

    .item {
      &__wrap {
        margin: 0;
        display: flex;
        gap: 5px 0;
        flex-direction: column;
      }
    }

    &__fio-title {
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #fff;
    }

    &__fio-desc {
      font-weight: 700;
      font-size: 24px;
      line-height: 133%;
      color: #fff
    }
  }
}

/* FAVORITES */
.favorites {
  &__list {
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 64px 40px;
  }

  &__close {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0;
    transition: opacity .3s;

    &>svg {
      width: 40px;
      height: 40px;
    }
  }

  &__item {
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    border-radius: 16px;
    width: 224px;
    height: 335px;
    background: gray;
    position: relative;


    &--vis>.favorites__close {
      opacity: 1;
    }
  }

  .top-10__link::after {
    outline-offset: 5px;
  }

}


/* SEARCH */

.search__img {
  width: 40px;
  height: 52px;
}

.search__wrap {
  display: flex;
  gap: 0 16px;
}

.search__desc {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.search__list {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  padding: 8px;
  width: 559px;
  position: absolute;
  top: 60px;
  right: 0;
  background: #393b3c;
  z-index: 9;
}

.search__list-info {
  display: flex;
  gap: 0 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__item {
  padding: 20px 8px;
  transition: border .3s;
}

.search__item:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px
}

.search__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #fff
}

.search__rating {
  padding: 2px 8px;
  height: 20px;
}

.search__item-info--release,
.search__item-info--genres,
.search__item-info--runtime {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: rgba(255, 255, 255, 0.7);
}

.header__item--search {
  position: relative;
  transition: outline .3s;

  &:focus-within {
    outline: 1px solid #DC5DFC;
    border-radius: 8px;
  }
}

.header__search-close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-40%, -50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.yelow {
  background-color: #A59400;
}

.green {
  background-color: #308e21;
}

.gray {
  background-color: #777777;
}

.red {
  background-color: #C82020;
}


/* MODAL-TRAILER */
.modal__content-trailer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-trailer__title {
  margin: 0;
  padding: 0;
  padding: 24px 40px;
  position: absolute;
  bottom: 24px;
  left: 20px;
  right: 20px;
  background: rgba(10, 11, 11, 0.5);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  z-index: 99;
  width: 920px;
  justify-self: center;
}

.modal-trailer__play,
.modal-trailer__pause {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 8px;
  width: 80px;
  height: 80px;
  background: #fff;
  cursor: pointer;
}

.modal-trailer__title-error {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}

/* FOOTER */

.footer {
  padding-top: 43px;
  padding-bottom: 35px;

  &__wrap {
    display: flex;
    justify-content: end;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 24px;
  }

  &__item {
    display: flex;
  }

  &__link-soc {
    position: relative;
    display: inline-block;
    height: inherit;
    width: 36px;
    height: 36px;

    &>svg {
      width: 36px;
      height: 36px;
    }

    &::after {
      @include mixin.focus-after();
      border-radius: 8px;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus-visible::after {
      opacity: 1;
    }

    &:focus-visible {
      outline: none;
    }
  }

}