@use '_mixin.scss';
@use '_variables.scss';


@media (max-width: 1440px) {

 .header {
  &__wrap {
   gap: 0 40px;
  }

  &__nav {
   margin-right: auto;
   width: 100%;
  }

  &__item--search {
   width: 100%;
  }

  &__serach {
   width: 100%;
  }

 }

 .film {
  &__preview-img {
   max-width: 560px;
  }

  &__wrap {
   gap: 0 17px;
   justify-content: space-around;
  }

  .btn__default {
   white-space: nowrap;
  }
 }

 .top-10 {
  &__list {
   gap: 63px 20px;
   justify-content: center;
  }

  &__item {
   max-width: 190px;
   min-width: 190px;
  }
 }

 .modal,
 .modal-trailer {
  &__content-trailer {
   width: 1200px;
  }

  &-trailer__title {
   width: 100%;
  }

  &-trailer__pause,
  &-trailer__play {
   width: 64px;
   height: 64px;
   transform: translate(15%, -50%);
  }
 }

 .favorites {
  &__list {
   gap: 63px 20px;
   justify-content: center;
  }

  &__item {
   max-width: 190px;
   height: auto;
  }
 }

 .genres,
 .genre {
  &__list {
   gap: 63px 20px;
   justify-content: center;
  }

  &__item {
   max-width: 190px;
   min-width: 190px;
   height: 225px;
  }
 }
}

@media (max-width: 1200px) {
 .header {
  padding-bottom: 0;
 }

 .film {
  &__wrap {
   flex-wrap: wrap;
   flex-direction: column-reverse;
  }

  &__preview-img {
   max-width: 100%;
  }

  &__content {
   width: 100%;
   max-width: 100%;
  }
 }

 .modal,
 .modal-trailer {
  &__content-trailer {
   width: 990px;
  }

  &-trailer__title {
   width: 100%;
  }

  &-trailer__pause,
  &-trailer__play {
   width: 64px;
   height: 64px;
   transform: translate(15%, -50%);
  }
 }
}

@media (max-width: 992px) {
 .header {
  &__wrap {
   flex-wrap: wrap;
   position: relative;
  }

  &__list {
   padding-top: 15px;
   gap: 30px;
   flex-wrap: wrap;
   justify-content: space-around;
  }

  &__serach {
   width: 100%;
  }

  &__link--account,
  &__link---default {
   position: absolute;
   top: 25px;
   right: 0;
  }
 }

 .film {
  &__content {
   padding-top: 0;
  }

  &__item {
   padding-bottom: 15px;
  }

  &-detail__list {
   overflow: auto;
  }
 }

 .btn__accent,
 .btn__default {
  padding: 16px 38px;
 }

 .modal,
 .modal-trailer {
  &__content-trailer {
   width: 590px;
  }

  &-trailer__title {
   width: 100%;
  }

  &-trailer__pause,
  &-trailer__play {
   width: 64px;
   height: 64px;
   transform: translate(15%, -50%);
  }
 }

 .genres {
  &__title {
   margin: 0;
  }
 }

 .genre {
  &__title {
   margin: 0;
  }

  &__link {
   padding: 0 12px;
  }
 }

}

.genres,
.genre {
 &__list {
  padding-bottom: 32px;
 }
}

@media (max-width: 590px) {

 .container {
  padding: 0 20px;
 }

 .header {
  &__wrap {
   padding: 16px 0 0;
   flex-wrap: nowrap;
   justify-content: space-between;
  }

  &__entry {
   display: none;
  }

  &__serach {
   width: 310px;
   position: absolute;
   left: -229px;
   top: 30px;
   z-index: 99;
  }

  &__search-close {
   z-index: 999;
   right: -55px;
   top: 52px;
  }

  &__link {
   &:hover::after {
    transform: scale(0);
   }

   &.router-link-active::after {
    transform: scale(0);
   }
  }

  .search {
   &__title {
    font-size: 16px;
   }

   &__list {
    width: 280px;
    right: -45px;
    top: 80px;
   }

   &__img {
    display: none;
   }

   &__item-info--genres {
    font-size: 12px;
   }

   &__item {
    padding: 10px 8px;
   }
  }

  &__list {
   padding-top: 0;
   justify-content: end;
   align-items: center;
   gap: 0 40px;
   margin-right: 40px;
  }

  &__logo {
   width: 100%;
   max-width: 81px;

   &>svg {
    width: 100%;
   }
  }

  &__link--genres {
   @include mixin.link-before();
   top: -5px;
   background-image: url('/src/assets/images/svg-sprite/genres.svg');
  }

  &__link---default,
  &__link--account {
   top: 22px;
   width: 24px;
   height: 24px;

   &::before {
    @include mixin.link-before();
    background-image: url('/src/assets/images/svg-sprite/personal.svg');
    opacity: 1;
    outline: none;
   }
  }

  &__item--search {
   width: 24px;
   height: 24px;

   &::before {
    @include mixin.link-before();
    background-image: url('/src/assets/images/svg-sprite/search_white.svg');
   }

   &:focus-within::after {
    outline: none;
   }
  }
 }

 .film {
  &__content {
   padding-top: 7px;
  }

  .btn__accent {
   width: 250px;
  }

  &-detail__title {
   font-size: 24px;
   padding-top: 45px;
  }

  &-detail__list {
   padding-top: 40px;
  }

  &-detail__item {
   flex-wrap: wrap;
  }

  &-detail__name {
   width: 100%;
   font-weight: 400;
   font-size: 14px;
   line-height: 143%;
   color: rgba(255, 255, 255, 0.5);
  }

  &-detail__desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 133%;
   color: #fff;
  }

  &-detail__separaror {
   display: none;
  }

  &__title {
   font-size: 24px;
  }

  &__desc {
   font-size: 18px;
  }

  &__preview-img {
   min-height: 234px;
   object-fit: cover;
  }

  &__navigation {
   padding-top: 12px;
   flex-wrap: wrap;
   justify-content: normal;
   gap: 0 5px;
  }

  &__item--trailer {
   width: auto;
   text-align: left;
  }
 }

 .top-10 {
  padding-top: 12px;
  padding-bottom: 32px;

  &__list {
   gap: 40px;
   padding-top: 15px;
   flex-wrap: nowrap;
   max-width: max-content;
   overflow: scroll;
  }

  &__img {
   box-shadow: none;
  }

  &__title {
   font-size: 24px;
   padding-bottom: 28px;
  }

  &__item {
   max-width: 224px;
   min-width: 224px;
  }
 }

 .btn__accent {
  width: 100%;
  text-align: center;

  &--logout {
   width: auto;
  }
 }

 .rating__item {
  font-size: 14px;
 }

 .footer {
  padding: 24px 0;

  &__wrap {
   justify-content: start;
  }

  &__link-soc>svg {
   width: 24px;
   height: 24px;
  }
 }

 .modal {
  z-index: 9999;

  &__content {
   width: 310px;
   padding: 54px 12px;
  }

  &__input {
   width: 285px;
  }

  &__form {
   margin-bottom: 0;
   gap: 5px 0;
  }

 }

 .modal,
 .modal-trailer {
  &__content-trailer {
   width: 320px;
  }

  .modal__close {
   &--trailer {
    width: 32px;
    height: 32px;
   }
  }

  &-trailer__title {
   width: 100%;
  }

  &-trailer__pause,
  &-trailer__play {
   width: 64px;
   height: 64px;
   transform: translate(15%, -50%);
  }
 }

 .genres {
  @include mixin.genre();

  .genre__img {
   max-height: 220px;
   object-fit: cover;
  }
 }

 .genre {
  @include mixin.genre();

  &__item {
   min-height: 467px;
  }
 }


 .account {
  &__title {
   margin-bottom: 40px;
   font-weight: 700;
   font-size: 24px;
   line-height: 133%;
   color: #fff;
  }

  &__list {
   margin-bottom: 40px;
   gap: 15px 24px;
   flex-wrap: wrap;
  }
 }

 .favorites {
  &__list {
   flex-wrap: nowrap;
   overflow: scroll;
   max-width: max-content;
   padding-bottom: 20px;
   margin-bottom: 10px;
  }

  &__item {
   min-width: 224px;
   height: auto;
   max-height: 334px;
  }
 }

 .footer {
  &__link-soc {
   position: relative;
   display: inline-block;
   height: inherit;
   width: 24px;
   height: 24px;

   &>svg {
    width: 24px;
    height: 24px;
   }
  }
 }
}